<section class="hero" id="home">
  <div class="hero-text">
    
    <p class="hero-tag">Complete Tech & Creative Solutions</p>

    <h1>
      Build Your <span>Digital Presence</span><br>
      With Nexinity
    </h1>

    <p>
      CCTV Installation, Computer & Laptop Service,Billing Applications,
      Web Design & Development, Branding & Graphic Design,
      Digital Marketing Solutions.
    </p>

   <a routerLink="/services" class="hero-btn">Explore Services</a>
<a routerLink="/contact" class="hero-btn secondary-btn">Contact Us</a>

  </div>

  <div class="hero-image">
    <img src="/home1.png" alt="Nexinity">
  </div>
</section>